{% extends "base.html" %}
{% block content %}

    {% for task in tasks %}
        {{ task.task_name }}<br>
        {{ task.category_name }}<br>
        {{ task.task_description}}<br>
        {{ task.is_urgent }}<br>
        {{ task.due_date }}<br>
    {% endfor %}

    <ul class="collapsible">
        {% for task in tasks %}
        <li>
            <div class="collapsible-header white-text light-blue lighten-2 text-shadow">
                <i class="fas fa-caret-down"></i>
                <strong>{{ task.task_name }}</strong>: {{ task.due_date }}&nbsp;
                {% if task.is_urgent == "on" %}
                    <i class="fas fa-exclamation-circle light-blue-text text-lighten-4 tooltipped" 
                    data-position="right" data-tooltip="Urgent!" aria-hidden="true"></i>
                {% endif %}
            </div>
            <div class="collapsible-body">
                <strong>Category:</strong> {{ task.category_name }}
                
                <p><strong>Description:</strong><br>{{ task.task_description}}</p>
            </div>
        </li>
        {% endfor %}
    </ul>

{% endblock %}